@model School_Management_System.Models.Users
@{
}

<div>
    <div class="login" style="height:auto">
        <h3 class="text-center" style="color: darkslateblue; margin-bottom:30px">Sign Up</h3>

        <form asp-action="Index" method="post">

            <div class="form-group">
                <label class="col-form-label">Name</label>
                <input type="text" class="form-control" asp-for="Name" />
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="col-form-label">Contact No</label>
                <input type="text" class="form-control" asp-for="Contact" />
                @Html.ValidationMessageFor(x => x.Contact, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="col-form-label">Email</label>
                <input type="text" class="form-control" asp-for="Email" />
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="col-form-label">Password</label>
                <input type="password" class="form-control" asp-for="Password" />
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </div>

            <input type="submit" value="Sign Up" class="btn mybtn" />


        </form>
        <div class="text-center">
            <a class="btn-link mt-1" asp-action="Index" asp-controller="Login">Back to Login</a>
        </div>
    </div>
</div>
